<%- include('../partials/header') %>

<form action="" method="post">
  <h2>Login</h2>
  <div>

  </div>
  <label for="email">Email</label>
  <input type="text" name="email"  />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password"  />
  <div class="password error"></div>
  <button type="submit" >Sign up</button>
</form>

<%- include('../partials/footer') %>